<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/inicio.css">
    <!-- <link rel="stylesheet" href="../style/style.css"> -->
    <script src="https://kit.fontawesome.com/1c522322b5.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/equipos.css">
    <title>Equipos</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="header-logo">
                <img src="../media/logo.png" alt="Logo del club">
            </div>
            <div>
                <h1>Esports Argentina - Equipos</h1>
            </div>
            <div class="header-links">
                <ul>
                    <li><a href="inicio.html">Inicio</a></li>
                    <li><a href="equipos.html">Equipos</a></li>
                    <li><a href="noticias.html">Noticias</a></li>
                    <li><a href="eventos.html">Eventos</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container4" id="api">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../media/csgo.png" alt="Avatar" style="width:auto;height:auto">
                </div>
                <div class="flip-card-back" id="api">
                    <h1>Top Equipos de CS:GO</h1>
                    <ul v-for="dato in datos_csgo">
                        {{dato.nombre}} - {{dato.pais}}

                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../media/lol.png" alt="Avatar" style="width: 250px;;height:250px">
                </div>
                <div class="flip-card-back" id="api">
                    <h1>Top Equipos de CS:GO</h1>
                    <ul v-for="dato1 in datos_lol">
                        {{dato1.nombre}} - {{dato1.pais}}

                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../media/rocket.png" alt="Avatar" style="width:300px;height:300px">
                </div>
                <div class="flip-card-back" id="api">
                    <h1>Top Equipos de CS:GO</h1>
                    <ul v-for="dato in datos_rocket">
                        {{dato.nombre}} - {{dato.pais}}

                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../media/rainbow.png" alt="Avatar" style="width:300px;height:300px">
                </div>
                <div class="flip-card-back" id="api">
                    <h1>Top Equipos de CS:GO</h1>
                    <ul v-for="dato in datos_rainbow">
                        {{dato.nombre}} - {{dato.pais}}

                    </ul>
                </div>
            </div>
        </div>

        <footer>
            <div class="footer-container">
                <div class="footer-logo">
                    <img src="../media/logo.png" alt="Logo del club">
                </div>
                <div class="footer-links">
                    <ul>
                        <li><a href="inicio.html">Inicio</a></li>
                        <li><a href="equipos.html">Equipos</a></li>
                        <li><a href="noticias.html">Noticias</a></li>
                        <li><a href="eventos.html">Eventos</a></li>
                        <li><a href="contacto.html">Contacto</a></li>
                    </ul>
                </div>
                <div class="redes">
                    <ul>
                        <li>
                            <p>Nuestras redes</p>
                        </li>
                        <li><img src="../media/fb.png" alt="Facebook logo"></li>
                        <li><img src="../media/ig.png" alt="Instagram logo"></li>
                        <li><img src="../media/tw.png" alt="Twitter logo"></li>
                        <li><img src="../media/wpp.png" alt="Whatsapp logo"></li>
                        <li><img src="../media/yt.png" alt="Youtube logo"></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p>Derechos de autor © 2023 Nombre del club. Todos los derechos reservados.</p>
            </div>
        </footer>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="../js/equipos.js"></script>
</body>

</html>