* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h2 {
    font-size: 16px !important;
    text-align: center !important;
}

body{
    background-color: rgba(0, 100, 0, 0.082);
}

nav, footer {
    text-align: center;
    box-sizing: border-box;
    border: 2px solid green;
    border-left: 0px;
    border-right: 0px;
    background-color: rgba(0, 100, 0, 0.192);
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    text-align: right;
}

img{
    width: 30px;
    height: 30px;
}

.redes_logos{
    display:inline-block;
    vertical-align: middle;
}

.textarea {
    display:inline-table;
    min-height: 500px;
}

.izq {
    font-size: 10px;
    width: 19%;
    margin-left: 1%;
    position: static;
}

.der {
    font-size: 10px;
    width: 19%;
    margin-right: 1%;
    position:static;
}

.cen {
    width: 59%;
    position: static;
}

.mppal {
    display: inline;
    margin-left: 20px;
}